
// color
$accentColor = #A4BE7B
$textColor = #c9d1d9
$borderColor = #30363d
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 1000px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 1100px
$MQMobile = 800px
$MQMobileNarrow = 419px
